@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  color: #414242;
  font-size: 14px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
  background-color: rgb(202, 239, 246);
}

a {
  color: #020d99;
}

a:visited {
  color: #285b2f;
}

a:hover {
  color: #8e1105;
  font-weight: 500;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
  line-height: 1.0;
}

img {
  vertical-align: bottom;
  margin: 10px;
  border: solid 10px #ffffff;
}

.wf-mplus1p {
  font-family: "Mplus 1p";
  font-weight: lighter;
  margin: 10px;
  padding: 10px 10px 10px 50px;
}

body {
  margin: 20px 0 20px 500px;
  padding: 10px;
}

footer {
  margin: 0 0 0 40px;
}
